{% load static %}

<!-- jQuery -->
<script type="text/javascript" src="{% static 'medicalstatic/js/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script type="text/javascript" src="{% static 'medicalstatic/js/bootstrap.min.js' %}"></script>

<!-- all plugins and JavaScript -->
<script type="text/javascript" src="{% static 'medicalstatic/js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'medicalstatic/js/css3-animate-it.js' %}"></script>
<script type="text/javascript" src="{% static 'medicalstatic/js/bootstrap-dropdownhover.min.js' %}"></script>
<script type="text/javascript" src="{% static 'medicalstatic/js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'medicalstatic/js/gallery.js' %}"></script>
<script type="text/javascript" src="{% static 'medicalstatic/js/player.min.js' %}"></script>
<script type="text/javascript" src="{% static 'medicalstatic/js/retina.js' %}"></script>
<script type="text/javascript" src="{% static 'medicalstatic/js/comming-soon.js' %}"></script>

<!-- Main Custom JS -->
<script type="text/javascript" src="{% static 'medicalstatic/js/script.js' %}"></script>
