{% load static %}

<link rel="stylesheet" href="{% static 'medicalstatic/css/bootstrap.min.css' %}">

<link rel="stylesheet" href="{% static 'medicalstatic/css/animations.css' %}">
<link rel="stylesheet" href="{% static 'medicalstatic/css/owl.css' %}">
<link rel="stylesheet" href="{% static 'medicalstatic/css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'medicalstatic/css/animate.min.css' %}">
<link rel="stylesheet" href="{% static 'medicalstatic/css/flaticon.css' %}">
<link rel="stylesheet" href="{% static 'medicalstatic/css/pe-icon-7-stroke.css' %}">
<link rel="stylesheet" href="{% static 'medicalstatic/css/stroke-gap.css' %}">
<link rel="stylesheet" href="{% static 'medicalstatic/css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'medicalstatic/css/fancyBox.css' %}">
<link rel="stylesheet" href="{% static 'medicalstatic/css/bootstrap-dropdownhover.css' %}">
<!-- <link rel="stylesheet" href="{% static 'medicalstatic/css/player.css' %}"> -->
<link rel="stylesheet" href="{% static 'medicalstatic/css/bootstrap-datepicker.min.css' %}">


<!-- Custom CSS -->
<link rel="stylesheet" type="text/css" href="{% static 'medicalstatic/css/style.css' %}">

<!-- Responsive stylesheet  -->
<link rel="stylesheet" type="text/css" href="{% static 'medicalstatic/css/responsive.css' %}">

<!-- Favicon -->
<link href="{% static 'medicalstatic/img/favicon.png' %}" rel="shortcut icon" type="image/png">


